*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: rgb(139, 43, 43);
}

.container{
    position: relative;
}

.start{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.heading{
    color: bisque;
    font-size: 50px;
    margin: 0px 10px;
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.note{
  margin-top: 40px;
  border: 2px solid rgb(211, 104, 104) ;
  border-radius: 5px;
  padding: 20px;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  color: bisque;
  background-color:  rgb(211, 104, 104) ;
}

.sub{
    color: bisque;
    text-transform: uppercase;
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
  word-spacing: 3px;

}

.sub1{
  color: bisque;
    text-transform: uppercase;
    font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 2px;
  font-size: 18px;
  display: grid;
  place-content: center;
  margin-top: 55px;
}



.bookmark{
    border: 1px solid rgb(211, 104, 104);
    height: 62rem;
    width: 200px;
    margin: 20px;
    background-color: rgb(211, 104, 104);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
}

.days{
    color: bisque;
    overflow: visible; 
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 128px;
    justify-content: space-evenly;
    margin: 50px;
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.box{
    border: 2px solid bisque;
    height: 150px;
    width: 150px;
    position: relative;
    
}

.calender{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 130px;
    
    
}

.text{
    color: bisque;
    display: flex;
    justify-content: center;
     font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 50px;
  padding: 5px 0px;


}

.calender2{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 20px;
}

.text1{
    color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
     font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 30px;  
}



.anchor{
  color: bisque;
  font-size: 80px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
  
  
}


@media only screen and (max-width:800px){
  .days {
    gap: 2rem;
    font-size: 20px;
  }

  .box {
    height: 120px;
    width: 120px;
    border: solid bisque 0.9px;
    padding: 2%;
  }

  .bookmark {
    left: 0;
    margin-left: -0.2rem;
  }
  .anchor {
    font-size: 60px;
  }


}

